aside.sidebar {
  background-color: #DDD;
  padding: 0.5em;
  border: 2px solid #999;
  border-radius:1em;
  padding-top:0;
  margin-top:0;
}
aside.sidebar h3 {
  margin-top:0.5em;
}
blockquote {
  font-style:italic;
}
pre {
  font-size:85%;
}
code {
  font-size:95%;
}
body {
  font-size:14pt;
  max-width:38em;
  font-family: 'Playfair Display', serif;
  padding:1em;
  margin-left:auto;
  margin-right:auto;
}
body > ul {
  list-style:none;
  padding-left:0px;
}
body > ul li {
  list-style:none;
}
body > ul li > ul {
  padding-left:1em;
}
img {
  max-width:100%;
}
h1 {
  font-family: 'Milonga', cursive;
}
h1 {
  border-bottom:1px solid #666;
}
h1, h2 {
  margin-top:2em;
}
h2 {
  margin-top:1.68em;
}
h1.title {
  margin-bottom:0.05em;
  margin-top:0em;
  border-bottom:0px;
  font-size:400%;
  line-height: 1.1;
  font-family: 'Playfair Display', serif;
}
h3.author {
  margin-top:0.25em;
  padding-left:1em;
}

a.pdf, 
a.epub, 
a.mobi {
  padding: 0 0 1px 20px;
  min-height:16px;
}
a.pdf {
  background: url(assets/document-pdf.png) no-repeat 0 50%;
}
a.epub {
  background: url(assets/document-epub.png) no-repeat 0 50%;
}
a.mobi {
  background: url(assets/document-mobi.png) no-repeat 0 50%;
}

.intro {
  padding-top:0.68em;
  padding-bottom:0.68em;
  font-size:80%;
  border-bottom:1px solid #666;
}
.intro p {
  margin-top:0.25em;
  margin-bottom:0.25em;
  font-style:italic;
}